@import '../../../css/variables';

.data-selector {
	&.day-month {
		@extend %dataSelectorDayMonth;
	}
}

%dataSelectorDayMonth {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 24px;
	row-gap: 28px;
	flex-wrap: wrap;

	.custom-select {
		width: calc(100%);
		min-width: 140px;
		margin: 0;

		.custom-select__options {
			height: 129px;
		}

		.alert-msg {
			position: absolute;
			top: 100%;
			left: 0;
			color: $error;
			font-weight: 500;
		}

		@include xs {
			width: calc(50% - 12px);
		}
	}

	.submit__form__button {
		margin: 0;
		width: 100%;
		padding-inline: 20px;
		text-align: center;
	}

	&.wp-editor {
		.block-editor-inner-blocks {
			width: 100%;
		}

		.block-editor-block-list__layout {
			display: flex;
			align-items: center;
			justify-content: space-between;
			column-gap: 24px;
			row-gap: 28px;
			flex-wrap: wrap;

			@include lg {
				column-gap: 40px;
				row-gap: 40px;
			}

			@include laptop {
				column-gap: 60px;
				row-gap: 60px;
			}
		}

		[data-type='il/input'] {
			p {
				margin: 0;
			}

			&:not(:last-child) {
				width: calc(50% - 30px);
				min-width: 140px;

				.custom-select {
					width: 100%;
				}
			}

			&:last-child {
				width: 100%;
			}
		}
	}

	@include lg {
		column-gap: 40px;
		row-gap: 40px;
		flex-wrap: nowrap;
	}

	@include laptop {
		column-gap: 60px;
		row-gap: 60px;
	}
}
