@import '../../../css/variables';
@import '../../../css/placeholders';

.carousel-text-section {
	&.default {
		@extend %carouselTextSectionDefault;
	}
}

%carouselTextSectionDefault {
	overflow: hidden;

	.tns-outer {
		position: relative;

		&.tns-ovh .tns-ah {
			height: min-content;
		}
	}

	// Default variant styles;
	.tns-controls {
		position: absolute;
		z-index: 3;
		bottom: 20px;
		width: 100%;
		min-height: 46px;
		box-sizing: border-box;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0;

		button {
			background: transparent;
			border: none;
			animation: move_right 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
			opacity: 1;
			transition: opacity 0.2s cubic-bezier(0.075, 0.82, 0.165, 1), margin 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

			&:disabled {
				opacity: 0;
				pointer-events: none;
			}

			&:last-child {
				animation: move_left 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;

				// animated arrow animation
				@keyframes move_left {
					0% {
						transform: translate(-20px, 0px);
					}

					100% {
						transform: translate(0px, 0px);
					}
				}
			}

			// animated arrow animation
			@keyframes move_right {
				0% {
					transform: translate(20px, 0px);
				}

				100% {
					transform: translate(0px, 0px);
				}
			}
		}

		@extend %containerDefault;

		@include md {
			bottom: 60px;
		}
	}

	.text-with-image-content {
		max-height: 100%;
		padding-bottom: 100px !important;

		@include md {
			padding-bottom: 180px !important;
		}
	}

	&.wp-editor {
		> .block-editor-inner-blocks {
			> .block-editor-block-list__layout {
				> .block-list-appender {
					position: absolute;
					bottom: 0;
					right: 0;
					z-index: 10;
					pointer-events: all;

					.custom-appender {
						display: flex;
						flex-direction: row;
						gap: 2px;
					}

					.button-remove,
					.button-appender {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 15px;
						padding: 10px;
						border-radius: 4px;
						color: $white;
						border: none;
						cursor: pointer;
						white-space: nowrap;

						svg {
							width: 15px;

							path {
								stroke: $white;
							}
						}
					}

					.button-remove {
						background: darken($error, 10);
					}

					.button-appender {
						background: $black;
					}
				}
			}
		}
	}
}
