@import '../../../css/variables';

.degrade-border-text {
	font-family: $font-helvetica;
	font-size: 56px;
	text-transform: capitalize;
	color: $text-white;
	background: linear-gradient(90deg, #00a851 0%, #1832d7 100%);
	-webkit-background-clip: text;
	-webkit-text-stroke: 8px transparent;
}
