@import '../../../css/variables';

.what-motivates-you {
	&.default {
		@extend %WhatMotivatesYouDefault;
	}
}

%WhatMotivatesYouDefault {
	display: block;
	position: relative;
	width: 100%;
	padding-bottom: 50px;
	overflow: hidden;

	.what-motivates-you {
		&--image {
			display: block;
			width: 100%;
			margin-bottom: 40px;
			height: fit-content;

			img {
				width: 100%;
				height: auto;
			}

			@include md {
				margin-bottom: 95px;
			}
		}
	}

	.typography {
		position: relative;
		z-index: 1;

		br {
			display: none;

			@include lg {
				display: block;
			}
		}

		&.title-2-responsive-d {
			-webkit-text-stroke: 1px $white;

			@include lg {
				-webkit-text-stroke: 1.5px $white;
				white-space: nowrap;
			}
		}
	}

	// Styles to wp-panel editor
	.block-editor-block-list__block {
		.typography {
			&.title-2-responsive-d {
				white-space: nowrap !important;
			}
		}
	}

	// Faixa Amarela
	.strip {
		z-index: -1;
		position: relative;
		display: block;

		&::before {
			content: '';
			z-index: -1;
			position: absolute;
			top: 50%;
			background: linear-gradient(to right, transparent 0, $yellow 40%, $yellow 100%);

			width: 100vw;
			height: 120%;
			left: 0;
			transform: translate(200vw, -50%);
			transition: transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);

			@include md {
				left: unset;
				right: 0;
				height: 120%;
				max-height: 150px;
				transform: translate(200vw, -58%);
			}
		}

		&.active {
			&::before {
				transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);

				@include max-md {
					animation: stripEntrance 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
					transform: translate(0, -50%);
				}

				@include md {
					animation: stripEntranceDesk 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
					transform: translate(50vw, -58%);
				}
			}
		}

		@include md {
			display: inline-block;
		}

		@keyframes stripEntrance {
			0% {
				transform: translate(-100vw, -50%);
			}

			100% {
				transform: translate(0, -50%);
			}
		}

		@keyframes stripEntranceDesk {
			0% {
				transform: translate(-100vw, -58%);
			}

			100% {
				transform: translate(50vw, -58%);
			}
		}
	}

	@include lg {
		padding-bottom: 152px;
	}
}
