@import '../../../css/variables';

.big_numbers_card {
	position: relative;
	height: calc(100vh - 57px);
	width: 100%;
	color: $white;
	text-transform: uppercase;
	flex-direction: column;
	display: inline-flex !important;
	padding: $containerMobile $containerMobile 90px;

	.back_img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	p {
		position: relative;
		z-index: 2;
	}

	.social__number {
		font-weight: 800;
		line-height: 1.2;
		margin-bottom: 0.5rem;
	}

	.social__text {
		font-weight: 400;
		font-size: 30px;
		line-height: 1.4;

		.social__text__content {
			display: inline-block;
		}

		&strong {
			font-weight: 800;
		}

		a {
			display: inline-block;

			img {
				max-width: 40px;
				margin: 0 5px -3px;
			}
		}
	}

	&.title {
		@extend %bigNumbersCardTitle;
	}

	&.numbers {
		@extend %bigNumbersCardNumbers;
	}

	@include lg {
		padding: 24px 96px 90px;

		.social__text {
			font-size: 64px;

			a {
				img {
					max-width: 70px;
					margin: 0 5px 0;
				}
			}
		}
	}
}

%bigNumbersCardNumbers {
	justify-content: flex-end;

	.social__number {
		font-family: $font-helvetica;
		font-size: 70px;
	}

	.social__text {
		font-family: $font-helvetica;
		.social__text__content {
			font-family: $font-helvetica;
		}
	}

	.mobile_text {
		align-self: flex-start;
		font-weight: 800;
		font-size: 32px;
		line-height: 1.2;
		font-family: $font-helvetica;
		position: absolute;
		top: $containerMobile;
		left: 50%;
		transform: translate(-50%);
	}

	.m_letter {
		font-family: $font-helvetica;
		font-size: 35px;
		text-transform: none;
	}
	a {
		position: relative;
		z-index: 2;
	}
	@include lg {
		.mobile_text {
			display: none;
		}

		.social__number {
			font-size: 168px;
			margin-bottom: 2rem;
		}

		.m_letter {
			font-family: $font-helvetica;
			font-size: 84px;
		}
	}
}

%bigNumbersCardTitle {
	justify-content: center;

	.mobile_text {
		display: none;
	}

	.social__text {
		font-family: $font-helvetica;
		font-size: 36px;
	}

	.social__number {
		font-family: $font-helvetica;
		font-size: 30px;
	}

	.m_letter {
		display: none;
	}
}
