@import '../../../css/variables';

.formula-season-details {
	&.default {
		@extend %formulaSeasonDetailsDefault;
	}
}

%formulaSeasonDetailsDefault {
	display: block;
	width: 100%;
	position: relative;
	overflow: hidden;

	.container {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: flex-start;
	}

	.formula-season-details {
		&-background {
			display: block;
			width: 100%;
			position: relative;
			margin-bottom: -70px;

			&::after {
				content: '';
				z-index: 1;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;

				@include max-md {
					height: 150px;
				}

				@include md {
					top: 0;
					bottom: unset;
					height: 100%;
					left: -1px;
					right: unset;
				}
			}

			img {
				width: 100%;
			}

			@include md {
				margin-bottom: 0;
				z-index: 1;
				position: absolute;
				top: 0;
				left: 50%;
				width: 50%;
				height: 100%;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		&-content {
			position: relative;
			z-index: 1;
			width: 100%;
			padding: 0 0 55px;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;

			.post-listing-header {
				width: 60%;
				max-width: 650px;
			}

			.tabs {
				.tabs-item.content-tab {
					display: flex;
					align-items: flex-end;
					justify-content: flex-start;
					gap: 35px;

					.podium {
						.podium-item {
							margin-left: 0;
						}
					}

					.scrollable-list {
						width: 100%;

						@include lg {
							width: fit-content;
							max-width: 45%;
						}
					}

					.testimony {
						width: 100%;

						.typography {
							font-weight: 300;
						}

						@include lg {
							width: 50%;
						}
					}

					@include md {
						gap: 64px;
					}
				}
			}

			@include md {
				min-height: calc(100vh - $headerHeightDesk);
				padding: 70px 20px 70px 0;
			}
		}
	}

	.title {
		@include lg {
			white-space: nowrap;
		}
	}

	&.wp-editor {
		.tabs-item.content-tab {
			> .block-editor-inner-blocks {
				> .block-editor-block-list__layout {
					display: flex;
					align-items: flex-end;
					justify-content: flex-start;
					gap: 35px;

					[data-type='il/scrollable-list'] {
						.scrollable-list {
							width: 100%;
							max-width: 100%;
							height: 536px;
						}

						@include lg {
							width: fit-content;
							max-width: 40%;
						}
					}

					[data-type='il/podium'] {
						width: 50%;

						.podium {
							width: 100%;
						}

						.repeater-items > .block-editor-inner-blocks {
							> .block-editor-block-list__layout {
								flex-direction: column;
							}
						}
					}

					[data-type='il/testimony'] {
						width: 50%;

						.testimony {
							width: 100%;
						}
					}
				}
			}
		}
	}
}
