@import '../../../css/variables';
@import '../../../css/placeholders';

.books-carousel {
	&.default {
		@extend %booksCarouselDefault;
	}
}

%booksCarouselDefault {
	margin-bottom: 60px;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 25px;
		background: $primary;
	}

	&:nth-child(1 of .books-carousel) {
		padding-top: 40px;

		@include lg {
			padding-top: 100px;
		}
	}

	&:nth-last-child(1 of .books-carousel) {
		margin-bottom: 40px;

		@include lg {
			margin-bottom: 100px;
		}
	}

	//panel setup
	&.wp-editor {
		[data-type='il/carousel'] {
			width: 100%;
			margin-top: 40px;

			.carousel-content {
				width: 100%;

				>.block-editor-inner-blocks {
					overflow: auto;
					width: 100%;

					>.block-editor-block-list__layout {
						display: flex;
						align-items: flex-start;
						justify-content: flex-start;
						width: fit-content;
						gap: 40px;
					}
				}
			}
		}
	}

	//styles to appear mor than 1 item in mobile
	@include max-md {
		overflow: hidden;

		.carousel.books-carousel {
			margin-inline: -24px;
			width: 70%;

			.tns-ovh {
				overflow: visible !important;
			}

			.tns-inner {
				padding-inline: 24px;
			}
		}
	}
}

// Common styles to tabs block
[data-type='il/books-carousel'] {
	>.books-carousel>.container {
		>.block-editor-inner-blocks {
			>.block-editor-block-list__layout {
				.block-list-appender {
					bottom: -45px !important;
					opacity: 1 !important;
					pointer-events: all !important;

					.button-appender {
						padding: 15px !important;
					}
				}

				@extend %blockAppenderButton;
			}
		}
	}
}