@import '../../../css/variables';

.hero-seek-your-truth {
	&.default {
		@extend %heroSeekYourTruthDefault;
	}

	&.editor {
		@extend %heroSeekYourTruthEditor;
	}
}

%heroSeekYourTruthDefault {
	width: 100%;
	position: relative;

	&.with-video {
		height: 215vh;
		padding-bottom: 15vh;

		.seek-your-truth {
			&__content {
				position: sticky;
				display: flex;
				align-items: center;
				height: 100vh;
				width: 100%;
				overflow: hidden;
				top: 0;

				@include lg {
					top: calc($headerHeightMobile + 30px);
					align-items: flex-start;
					padding-top: $headerHeightDesk;
				}
			}
		}

		@include md {
			height: 205vh;
		}

		@include lg {
			padding: 0;
		}
	}

	&:not(.with-video) {
		display: flex;
		align-items: center;
		height: 100vh;
		padding-top: $headerHeightMobile;

		.seek-your-truth {
			&__content {
				h2 {
					transform: translateY(-120%);

					.seek-typing {
						position: absolute;
						top: 100%;
						left: 0;
					}
				}
			}
		}
	}

	.seek-your-truth {
		&__content {
			display: block;
			width: 100%;

			h2 {
				transform: translateY(-60%);
				text-indent: 7px;

				@include lg {
					text-indent: 20px;
					transform: translateY(0%);
				}
			}

			h2,
			.seek-typing {
				font-family: $font-primary;
				font-weight: 900;
				text-transform: uppercase;
				color: $primary;
				background: $green-blue3;
				-webkit-background-clip: text;
				-webkit-text-stroke: 4px transparent;
				font-size: 13vw;
				line-height: 110%;
				letter-spacing: 0.025em;
				position: relative;
				overflow: visible;

				@include md {
					-webkit-text-stroke: 8px transparent;
				}

				@include lg-small {
					font-size: clamp(3.2rem, 1rem + 7.9vw, 17.5rem);
				}

				@include over-full-hd {
					font-size: clamp(1rem, -10rem + 12vw, 18.75rem);
					-webkit-text-stroke: 12px transparent;
				}
			}

			.seek-typing {
				display: flex;
				align-items: flex-end;
				justify-content: flex-start;
				font-size: inherit;
				position: absolute;
				top: 100%;
				left: 0;
				padding-inline: 7px;
				text-indent: 0;

				.typed-cursor {
					margin-left: 25px;
					color: $primary;
					background: $green-blue3;
					width: 4px;
					transform: translateY(-10px);
				}

				@include lg {
					position: relative;
					top: 0;
					left: 0;
					padding-inline: 20px;
				}
			}
		}

		&__video {
			position: absolute;
			top: calc($headerHeightMobile + 20px);
			left: 0;
			object-fit: cover;
			height: calc(100vh - ($headerHeightMobile + 30px));
			width: 100%;
			transform: translateY(100vh);
			display: flex;
			align-items: center;

			video {
				width: 100%;
				aspect-ratio: 16/9;
				max-height: calc(100vh - ($headerHeightDesk + 50px));
				object-fit: cover;
			}

			@include lg {
				top: calc($headerHeightDesk + 20px);
				height: calc(100vh - ($headerHeightDesk + 30px));
			}
		}
	}

	&.wp-editor {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		height: auto;
		padding: 50px 0;

		.seek-your-truth {
			&__content {
				position: relative;
				margin-bottom: 20px;
				text-align: left;
				padding: 0 20px;
				width: 100%;
				caret-color: $secondary;

				h2 {
					transform: translateY(0);
				}

				.multi-txt {
					font-size: 70px;
					line-height: 150%;
					letter-spacing: 5px;
				}
			}

			&__video {
				position: relative;
				top: 0;
				left: 0;
				transform: translate(0);
				height: auto;
				min-height: 500px;
			}
		}
	}

	@include lg {
		padding-top: calc($headerHeightDesk + 30px);
	}
}

%heroSeekYourTruthEditor {
	display: block;
	width: 100%;
	height: 500px;
}
