@import '../../../css/variables';
@import '../../../../node_modules/tiny-slider/src/tiny-slider';

.navigation-journey {
	&.default {
		@extend %navigationJourneyDefault;
	}
}

%navigationJourneyDefault {
	display: block;
	width: 100%;
	height: $navJourneyHeightMobile;
	position: fixed;
	top: $headerHeightMobile;
	left: 0;
	z-index: calc($zHeader - 1);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	// create element for background blur effect
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: rgba($primary, 0.8);
		backdrop-filter: blur(17px);
	}

	// create line below menu
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		top: 100%;
		left: 0;
		width: 100%;
		height: 3px;
		margin-top: -1px;
		background: $green-blue;
		filter: blur(1.5px);
		opacity: 1;
		transition: opacity 0.5s ease-in;
	}

	.container {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.menu-jornada-senna-container {
		width: 100%;
	}

	.menu {
		@extend %menuList;
	}

	.sub-menu {
		> li {
			min-width: 0;

			> a {
				opacity: 0;
				pointer-events: none;
			}
		}

		&.center-slide {
			@include md {
				margin-left: -100px;
			}
		}
	}

	.sub-menu-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		pointer-events: none;

		.nav-back {
			width: fit-content;
		}

		.tns-outer {
			opacity: 0;
			pointer-events: none;
			height: 0;
			width: 0;
			overflow: hidden !important;

			[data-controls='prev'],
			[data-controls='next'] {
				pointer-events: none;
			}
		}

		&.active-child {
			pointer-events: all;
			opacity: 1;

			> .nav-back {
				opacity: 1;
				pointer-events: all;
				height: $navJourneyHeightMobile;
				position: relative;

				@include max-md {
					background: $primary;
					backdrop-filter: blur(2px);

					&::before {
						content: '';
						z-index: 2;
						position: absolute;
						top: 0;
						left: 100%;
						width: 50px;
						height: 100%;
						background: $gradientBlueTransparent;
						border: none;
						pointer-events: none;
						transform: skew(0);
					}
				}

				@include laptop {
					height: $navJourneyHeightDesk;
				}
			}

			> .tns-outer {
				opacity: 1;
				pointer-events: all;
				height: $navJourneyHeightMobile;
				width: 100%;
				overflow: auto;

				.tns-inner {
					padding-left: 20px;
				}

				[data-controls='prev'],
				[data-controls='next'] {
					pointer-events: all;
				}

				@include laptop {
					height: $navJourneyHeightDesk;
				}
			}

			.tns-outer > .tns-ovh > .tns-inner > .years-list,
			> .years-list {
				pointer-events: all;

				> li {
					> a,
					> button {
						opacity: 1;
						pointer-events: all;
					}
				}
			}

			> .sub-menu {
				pointer-events: all;
				overflow-x: auto;
				overflow-y: hidden;
				padding-left: 20px;

				> li {
					min-width: 160px;

					> a,
					> button {
						opacity: 1;
						pointer-events: all;
					}

					@include laptop {
						min-width: 200px;
					}

					@include laptop-small {
						min-width: 250px;
					}
				}

				@extend %menuList;

				@include md {
					overflow-x: visible;
					overflow-y: visible;
				}
			}
		}
	}

	.nav-back {
		opacity: 0;
		pointer-events: none;
	}

	// Editor
	&.wp-editor {
		position: relative;
		top: 0;

		.container {
			justify-content: center;
			align-items: center;
		}

		.navigation-journey {
			&__link {
				color: $white;
			}
		}
	}

	@include lg {
		top: $headerHeightDesk;
	}

	@include laptop {
		height: $navJourneyHeightDesk;
	}
}

%menuList {
	display: flex;
	align-items: flex-start;
	justify-content: stretch;
	flex-direction: row;
	width: 100%;
	position: relative;

	&.years-list {
		justify-content: center;
		width: 100% !important;

		&.center-slide {
			&:not(.center-scroll) {
				overflow: visible;
			}

			&.center-scroll {
				overflow-x: auto;

				@include max-sm {
					justify-content: flex-start;
				}
			}
		}
	}

	/// carousel stylizations
	.tns-outer {
		position: relative;
		display: flex;
		flex-direction: column;

		.tns-ovh {
			position: relative;
			z-index: 2;
			mask: linear-gradient(to right, transparent, black 20px, black 96%, transparent);
		}

		.tns-liveregion {
			display: none;
		}

		.tns-controls {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			pointer-events: none;
			width: 100%;
			display: flex;
			justify-content: space-between;
			z-index: 3;

			[data-controls='prev'],
			[data-controls='next'] {
				display: inline-block;
				text-align: center;
				height: 80px;
				width: 80px;
				font-size: 0;
				border: 0;
				background: none,
					url('data:image/svg+xml;utf8,<svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5337 8L2.53366 16L0.666992 14.1333L6.80033 8L0.666992 1.86667L2.53366 -8.15946e-08L10.5337 8Z" fill="white"/></svg>');
				background-repeat: no-repeat;
				background-position: center;
				transition: all 0.3s ease-in-out;

				&:disabled {
					opacity: 0;
					visibility: hidden;
				}
			}

			[data-controls='prev'] {
				transform: rotate(180deg);
				margin-left: -20px;
			}

			[data-controls='next'] {
				margin-right: -20px;
			}
		}
	}

	&.sub-menu {
		position: relative;
		z-index: 2;
		pointer-events: none;
	}

	&.active-child {
		&:not(.years-list) {
			@include max-md {
				&:not(.menu) {
					overflow-x: auto;
				}
			}
		}
	}

	&.active-parent {
		> li {
			width: 0;

			> a,
			> button {
				opacity: 0;
				pointer-events: none;
				width: 0;
				min-width: 0;
				padding: 0;
			}
		}

		@include max-md {
			overflow-x: hidden;
		}
	}

	li {
		display: flex;
		flex-flow: column;
		width: 100%;
		list-style: none;
		text-align: center;

		&:first-child {
			@extend %menuItemFirst;
		}

		&:last-child {
			@extend %menuItemLast;
		}

		@extend %menuItem;
	}

	@include max-sm {
		&.menu {
			overflow-y: hidden;
			overflow-x: auto;
		}
	}

	@include max-md {
		margin: 0 -24px;

		&.menu {
			width: 100vw;

			> li {
				min-width: 160px;
			}
		}

		&:not(.menu) {
			overflow-y: hidden;
			overflow-x: auto;
		}

		&.sub-menu {
			width: calc(100% - 50px);
		}
	}
}

%menuItem {
	width: 100%;
	height: $navJourneyHeightMobile;

	&.link-year {
		display: inline-block;
		width: 100px;

		&.big-item {
			width: 160px;
			min-width: 150px;
		}

		a,
		button {
			font-family: $font-primary;
			font-weight: 500;
			letter-spacing: unset;

			@include laptop {
				font-size: 20px;
			}
		}

		@include md {
			width: 200px;

			&.big-item {
				width: 250px;
			}
		}
	}

	&.current-menu-item {
		> a {
			&::after {
				opacity: 1;
			}
		}
	}

	a,
	button {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: fit-content;
		padding: 0 10px;
		color: $white;
		height: 100%;
		width: 100%;
		font-family: $font-primary;
		text-decoration: none;
		background: transparent;
		position: relative;
		z-index: 1;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1px;
		line-height: 140%;

		&.nav-back {
			font-family: $font-primary;
			text-transform: none;
			font-weight: 600;
			z-index: 10;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			transform: skew(-25deg);
			width: 100%;
			height: 100%;
			border-left: 1px solid $surface-secondary;
			border-right: 1px solid $surface-secondary;

			@include md {
				transform: skew(-45deg);
			}
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			transform: skew(-25deg);
			opacity: 0;
			width: 100%;
			height: 100%;
			background: $blue-green;
			transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

			@include md {
				transform: skew(-45deg);
			}
		}

		&:hover {
			&::after {
				opacity: 1;
			}
		}

		@include md {
			padding: 0 20px;
		}

		@include laptop-small {
			font-size: 20px;
		}

		@include laptop {
			padding: 0 40px;
		}
	}

	button {
		border: none;
		justify-content: flex-start;
		cursor: pointer;
		padding-left: $containerMobile;

		&::before {
			content: none;
		}

		&::after {
			content: none;
		}

		@include md {
			padding-left: 0;
		}
	}

	@include laptop {
		height: $navJourneyHeightDesk;
	}
}

%menuItemFirst {
	a,
	button {
		&::before {
			border-left: none;
		}
	}
}

%menuItemLast {
	a,
	button {
		&::before {
			border-right: none;
		}
	}
}
