@import '../../../css/variables';

.vaga-form {
    &.default {
		@extend %vagaFormDefault;
	}
}

%vagaFormDefault {
    // Default variant styles;
    background-color: transparent;
    .form{
        background-color: $white;
        border-radius: 8px;
        padding: 12px;

        .wrapper-input{
            border: none;
            display: flex;
            flex-direction: column;
            font-family: $font-primary;
            margin-bottom: 12px;
            label{
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 6px;
            }

            input{
                padding: 8px;
                background-color: #99AAB54F;
                border-width: 0px 0px 0px 0px;
                border-radius: 5px 5px 5px 5px;
            }

            input[type="file"]{
                padding: 0;
                background-color: unset;
                border-radius: unset;
                width: 100%;
            }

            select{
                padding: 8px;
            }
        }
        
        @include lg{
            width: 100%;
            padding: 40px;
        }
    }
}