@import '../../../css/variables';

.seek-your-truth-section {
	&.default {
		@extend %seekYourTruthDefault;
	}
}

%seekYourTruthDefault {
	background-color: $primary;
	overflow: hidden;
	margin-bottom: -85vh;
	position: relative;
	padding-bottom: 15vh;

	.seek-your-truth {
		&__content {
			height: 100vh;
		}
		&__text {
			position: relative;
			width: 100%;
		}

		&__image {
			position: absolute;
			height: 90%;
			left: 55vw;
			top: 0;
		}

		&__video {
			text-align: center;
			width: 100%;
			height: auto;
			aspect-ratio: 17/4.5;

			&--wrapper {
				position: absolute;
				width: 100%;

				video {
					height: 100%;
					width: 100%;
				}

				@include md {
					top: -28vh;
				}
			}//wrapper
		}
	}

	p#texto3SYT {
		text-indent: 1%;
	}

	.degrade-border-text {
		font-family: $font-helvetica;
		text-transform: uppercase;
		line-height: 95%;
		letter-spacing: 0.025em;
		padding: 5px;
		margin: 0;
		color: $primary;
		background: linear-gradient(90deg, #00a851 0%, #1832d7 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-stroke: 4px transparent;
		font-size: 15vw;

		@media (min-width: 1300px) and (max-height: 650px) {
			font-size: 30vh;
		}
		@include md {
			-webkit-text-stroke: 8px transparent;
		}
		@include laptop {
			font-size: 26.5vh;
			-webkit-text-stroke: 12px transparent;
		}
		@include large {
			font-size: 30vh;
		}
		@include over-full-hd {
			-webkit-text-stroke: 16px transparent;
		}

	}
	@media (min-width: 1000px) and (max-height: 650px) {
		margin-bottom: -50vh;
	}
	@include md {
		padding-bottom: 20vh;
	}
	@include lg {
		margin-bottom: -60vh;
	}
	@include over-full-hd {
		margin-bottom: -60vh;
	}
}
