@import '../../../css/variables';
@import '../../../css/placeholders';

.wallpapers {
	&.default {
		@extend %ourWallpapersDefault;
	}
}

%ourWallpapersDefault {
	padding: 40px 0;

	.wallpapers {
		&__texts {
			display: flex;
			flex-wrap: wrap;
			gap: 32px;
			margin-bottom: 32px;

			.title {
				text-indent: 5px;
			}

			@include lg {
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: flex-end;
				gap: 60px;
				margin-bottom: 50px;
			}

			@include laptop {
				gap: 140px;
			}
		}
	}

	&.wp-editor {
		@extend %ourWallpapersDefaultEditor;
	}

	@include lg {
		padding: 96px 0;
	}
}

%ourWallpapersDefaultEditor {
	.wallpapers__texts {
		> .block-editor-inner-blocks {
			> .block-editor-block-list__layout {
				display: flex;
				flex-wrap: wrap;
				gap: 32px;
				margin-bottom: 32px;

				@include lg {
					flex-wrap: nowrap;
					justify-content: space-between;
					align-items: flex-end;
					gap: 60px;
					margin-bottom: 50px;
				}

				@include laptop {
					gap: 140px;
				}
			}
		}
	}

	.carousel-content {
		> .block-editor-inner-blocks {
			width: 100%;

			> .block-editor-block-list__layout {
				width: 100%;
				overflow: auto;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				gap: 30px;

				[data-type='il/wallpaper-card'] {
					width: fit-content;
				}
			}
		}
	}
}

// Common styles to tabs block
[data-type='il/wallpapers'] {
	height: fit-content;

	> .wallpapers {
		> .block-editor-inner-blocks {
			> .block-editor-block-list__layout {
				> .block-list-appender {
					opacity: 1 !important;
					pointer-events: all !important;

					button {
						padding: 15px !important;
					}
				}

				@extend %blockAppenderButton;
			}
		}
	}
}
