@import '../../../css/variables';
@import '../../cells/text-with-image/style';

.memoirs {
	&.default {
		@extend %memoirsDefault;
	}
}

%memoirsDefault {
	display: block;
	width: 100%;
	position: relative;

	.container {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: flex-start;
	}

	.memoirs {
		&-background {
			display: block;
			width: 100%;
			position: relative;
			margin-bottom: -70px;

			&::after {
				content: '';
				z-index: 1;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;

				@include max-md {
					height: 150px;
				}

				@include md {
					top: 0;
					bottom: unset;
					height: 100%;
					left: -1px;
					right: unset;
				}
			}

			img {
				width: 100%;
			}

			@include md {
				margin-bottom: 0;
				z-index: 1;
				position: absolute;
				top: 0;
				left: 50%;
				width: 50%;
				height: 100%;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		&-content {
			position: relative;
			z-index: 1;
			width: 100%;
			padding: 0 0 55px;
			display: flex;
			flex-direction: column;
			justify-content: center;

			// Styles for when the component is used at the top of a page
			&.is-hero {
				padding: 0 0 60px;

				@include md {
					padding: $breadcrumbHeight 0 70px;
				}
			}

			@include md {
				width: 60%;
				max-width: 650px;
				min-height: calc(100vh - $headerHeightDesk);
				padding: 70px 20px 70px 0;
			}
		}

		&-form {
			max-width: 400px;

			@include md {
				max-width: none;
			}
		}
	}

	.request-content {
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		opacity: 0;
		transform: scale(0.9);
		transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
		background: $primary;
		z-index: 2;
		display: flex;
		align-items: center;

		> div {
			height: 100%;
		}

		// Styles for when the component is used at the top of a page
		&.is-hero {
			.memory {
				padding: $breadcrumbHeightMobile 0 50px;

				@include md {
					padding: $breadcrumbHeight 0 70px;
				}
			}
		}

		&.open {
			pointer-events: all;
			opacity: 1;
			transform: scale(1);
		}
	}

	.label {
		display: inline-block;
		text-transform: uppercase;
		-webkit-text-stroke: 0.5px $white;

		@include lg {
			-webkit-text-stroke: 0 $white;
		}
	}

	.big-title {
		letter-spacing: 4px;
		line-height: 130%;
		text-transform: uppercase;
		margin-top: 0;
		-webkit-background-clip: text !important;
		-webkit-text-fill-color: transparent !important;
		width: fit-content;
		font-size: clamp(20px, 7vw, 30px) !important;

		@include xxs {
			font-size: clamp(40px, 7vw, 72px) !important;
		}
	}

	.text {
		max-width: 400px;
		line-height: 150%;

		@include md {
			max-width: none;
		}
	}

	.testimony {
		.typography {
			line-height: 150%;

			@include md {
				line-height: 130%;
			}
		}
	}

	&.wp-editor {
		.container {
			pointer-events: none;
		}

		.memoirs-background {
			.external-link {
				position: absolute;
				top: 50%;
				right: 50px;
				transform: translate(0, -50%);
				background: $primary;
				color: $white;
				border-radius: 4px;
				padding: 10px 20px;
				z-index: 10;
			}
		}

		.memoirs-content {
			pointer-events: all;

			> .block-editor-inner-blocks {
				width: 100%;
			}
		}
	}
}
