@import '../../../css/variables';

.card-reputacao {
    &.default {
        @extend %cardReputacaoDefault;
    }

    &.wp-editor {
        .icone-card {
            width: 45px;
            height: 45px;
            aspect-ratio: 1;
            margin-bottom: 13px;
        }
    }
}

%cardReputacaoDefault {
    padding: 14px 14px 30px 14px;
    max-width: 214px;
    border-radius: 4px;
    border: 1px solid #E0E3EB;

    .icone-card {
        width: 45px;
        height: 45px;
        aspect-ratio: 1;
        margin-bottom: 13px;
    }

    .titulo-card {
        margin-bottom: 13px;
    }
}