@import '../../../css/variables';

.lightspeed-text {
	display: block;
	width: 100%;
	height: 100vh;

	.container {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		height: 100%;
	}

	&__container {
		>* {
			transform: translateX(-100vw);
			transition: all 0.5s linear;
		}

		.sans-serif.stroke {
			line-height: 120%;
		}

		&.wiggle {
			>* {
				transition: all 1.25s linear;
				transform: translateX(0);
				animation: 1.25s wiggle ease;
			}

			p {
				transition: 0.1s all 1.25s linear;
				animation: 1.25s wiggle 0.1s ease;
			}
		}
	}

	@keyframes wiggle {
		0% {
			transform: translateX(-100vw) skewX(-20deg);
		}

		50% {
			transform: translateX(0) skewX(20deg);
		}

		100% {
			transform: translateX(0%) skewX(0deg);
		}
	}
}