@import '../../../css/variables';
@import '../../../css/media';

.newslletter-sennaticos {
	background-size: cover;
	position: relative;
	overflow: hidden;
	padding-bottom: 40px;
	padding-top: 40px;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $primary;
		opacity: 0.3;
		z-index: 1;
	}

	.info-text {
		width: 100%;
		font-size: 28px;
		font-weight: 600;
		color: $light-yellow;
	}

	.container {
		position: relative;
		z-index: 2;
	}

	&__title {
		font-size: 32px;
		width: 100%;
		font-weight: 700;
		font-family: $font-helvetica;
		color: $white;
		margin-bottom: 60px;
		letter-spacing: 0.05em;
		word-break: break-word;
		-webkit-text-stroke: 0.5px $white;
	}

	&__form {
		width: 100%;
		max-width: 422px;
		margin-inline: auto;
		color: $white;

		.input-container {
			display: flex;
			flex-direction: column;
		}

		.alert-msg {
			bottom: 6px;
		}

		.return_message {
			margin-top: 10px;
			margin-top: -80px;
			text-align: center;
			font-size: 1.5rem;
			display: none;

			&.visible {
				display: block;
			}
		}

		&.sended {
			.success_message {
				display: block;
			}
		}

		.submit__form__button {
			width: 100%;
		}
	}

	&.wp-editor {
		.newslletter-sennaticos__form {
			> .block-editor-inner-blocks {
				> .block-editor-block-list__layout {
					display: flex;
					gap: 16px;

					> .block-editor-block-list__block {
						&:first-child {
							width: 100%;
						}
					}
				}
			}
		}

		.social-media-list {
			position: absolute;
			flex-direction: column;
			right: -160px;
			top: -250px;
			margin-top: 0;
			transform: translate(+50%, 50%);

			> .block-editor-inner-blocks {
				> .block-editor-block-list__layout {
					display: flex;
					flex-direction: column;
					gap: 16px;
				}
			}
		}
	}

	@include lg {
		background-size: cover;
		&__title,
		.wrapper__title {
			padding-right: 0;
			margin-bottom: 0;
			font-size: 48px;
			line-height: 1;
			-webkit-text-stroke: 1px $white;
			max-width: 704px;
		}

		&__form {
			flex-direction: initial;
			gap: 40px;
			max-width: 704px;
			margin-inline: 0;
			margin-top: 60px;

			.input-container {
				flex-direction: initial;
				gap: 40px;
			}

			.input__lanbel {
				margin-bottom: 16px;

				.input__text {
					padding: 14px 0;
					margin-bottom: 0;
				}
			}

			.submit__form__button {
				max-width: 220px;
			}

			.return_message {
				margin-top: 1rem;
				text-align: left;
			}

			.alert-msg {
				bottom: -20px;
			}
		}
	}

	@include lg {
		padding-top: 96px;
		padding-bottom: 96px;
	}

	@include laptop {
		.container {
			grid-template-columns: 610px minmax(300px, 530px);
		}
	}
}
