@import '../../../css/variables';

.repeater-items {
	width: auto;
	min-height: 50px;

	.repeater-items-content {
		width: auto;
	}

	> .block-editor-inner-blocks {
		width: 100%;

		> .block-editor-block-list__layout {
			display: flex;
			justify-content: flex-start;
			max-width: 100%;
			overflow: auto;
			gap: 25px;

			> .wp-block {
				width: fit-content;
				display: inline-block;
			}
		}
	}
}
