@import '../../../css/variables';

.privacy-policy {
	display: block;
	width: 100%;

	p {
		line-height: 150%;
	}

	ul {
		font-size: 16px;
		font-family: $font-primary;
		color: $dark-gray;
		line-height: 150%;
		padding-left: 20px;
		padding-bottom: 10px;

		li {
			margin-bottom: 30px;
		}

		@include md {
			font-size: 20px;
		}
	}
}
