@import '../../../css/variables';

.post-listing {
	&.default {
		@extend %postListingDefault;
	}

	&.sidebar {
		@extend %postListingSidebar;
	}

	&.journey {
		@extend %postListingJourney;
	}

	&.wp-editor {
		@extend %postCardPanel;
	}
}

%postListingDefault {
	position: relative;

	&.post-listing {
		&-see-all {
			.post-list {
				margin-bottom: 30px;

				@include md {
					margin-bottom: 0;
				}
			}

			.button-wrapper {
				.button.link-arrow {
					@include lg {
						position: absolute;
						bottom: 100%;
						right: 0;
						margin-bottom: 40px;
					}
				}
			}
		}

		&-see-more {
			.post-list {
				margin-bottom: 24px;

				@include md {
					margin-bottom: 60px;
				}
			}

			.button.link-arrow {
				display: none;

				@include md {
					display: flex;
					position: absolute;
					bottom: 100%;
					right: 0;
					margin-bottom: 40px;
				}
			}
		}

		&-pagination {
			.post-list {
				margin-bottom: 24px;

				@include md {
					margin-bottom: 60px;
				}
			}
		}
	}

	.button-wrapper {
		display: flex;
		justify-content: center;
	}

	.post-list {
		width: 100%;
		padding: 0;
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		row-gap: 64px;
		column-gap: 24px;

		.post-card {
			&:nth-child(3n) {
				@include smd-lg {
					width: 100%;
				}
			}

			@include smd-lg {
				width: calc(50% - 12px);
			}
		}

		@include md {
			justify-content: flex-start;
		}
	}

	&.wp-editor {
		min-height: 400px;

		.placeholder-posts {
			.post-list-item {
				list-style: none;
				display: flex;
				justify-content: center;
				align-items: center;
				background: $surface-primary;
				color: $white;
				padding: 20px;
				font-size: 16px;

				&.small {
					width: calc(26% - 16px);
					aspect-ratio: 19/23.714;
				}

				&.medium {
					width: calc(33% - 16px);
					aspect-ratio: 95/92.256;
				}

				&.large {
					width: calc(41% - 16px);
					aspect-ratio: 497/385;
				}

				&.full {
					width: 100%;
					aspect-ratio: 16/4.8408;
				}
			}
		}

		.button-wrapper {
			position: unset;

			.block-editor-inner-blocks {
				position: unset;

				.block-editor-block-list__layout {
					position: unset;

					[data-type='il/button'] {
						&:nth-child(1) {
							display: flex;
							position: absolute;
							bottom: 100%;
							right: 0;
							margin-bottom: 40px;

							.button {
								position: relative;
								bottom: unset;
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}
	}
}

%postListingSidebar {
	.post-list {
		width: 100%;

		display: flex;
		flex-direction: column;
		gap: 24px;

		a {
			text-decoration: none;
		}
	}
}

%postListingJourney {
	.post-list {
		&.center-items {
			justify-content: center;
		}
	}
	&.wp-editor {
		.button-wrapper {
			position: unset;
			.block-editor-inner-blocks {
				position: unset;

				.block-editor-block-list__layout {
					position: unset;

					[data-type='il/button'] {
						&:nth-child(1) {
							display: flex;
							position: unset;
							bottom: 100%;
							right: 0;
							margin-bottom: 40px;
						}
					}
				}
			}
			.button.see-more {
				position: unset;
				background-color: #00713b;
			}
		}
	}
	.button-wrapper {
		.button.see-more {
			background-color: #00713b;
		}

		.posts-pagination-list {
			.posts-pagination-list--link {
				&.active {
					background-color: #00713b;
					border: 1px solid #00713b;
				}
				&:hover {
					background-color: #00713b;
				}
			}

			.posts-pagination-list--next {
				background-color: #00713b;
				&.disabled {
					background: #6d6e71;
					border: 1px solid #6d6e71;
					pointer-events: none;
				}
			}
		}
	}

	@extend %postListingDefault;
}

%postCardPanel {
	.post-list {
		padding-left: 0;
	}

	.post-card {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		padding-bottom: 24px;
		position: relative;

		&:not(:last-child) {
			&:before {
				content: '';
				position: absolute;
				left: 0px;
				bottom: 0px;
				height: 1px;
				width: 100%;
				background: $green-blue;
				transform: rotate(180deg);
			}
		}

		&__category {
			font-family: $font-primary;
			font-size: 14px;
			color: $primary;
			display: block;
			width: 100%;
		}

		&__title {
			font-family: $font-primary;
			font-size: 20px;
			display: block;
			width: 100%;
			color: $black;
		}
	}
}
