@mixin scrollBar($bgColor: #bcbec0, $color: #6d6e71, $width: 5, $height: 5, $radius: 5) {
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba($color, 0);
		background-color: transparent;
	}

	&::-webkit-scrollbar {
		border-radius: $radius;
		background-color: $bgColor;
		width: #{$width}px;
		height: #{$height}px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: $radius;
		background-color: $color;
	}
}
