@import './media';

$primary: #011766;
$light-primary: #007edd;
$secondary: #00713b;
$light-secondary: #00a851;
$tertiary: #000974;
$quaternary: #ebc535;
$light-quaternary: #efd936;


$surface-primary: #6d6e71;
$surface-secondary: #808285;
$surface-tertiary: #939598;
$surface-quaternary: #bcbec0;
$surface-quinary: #d0d0d0;

//Devices
$mobile: 360px;
$tablet: 768px;
$desktop: 1200px;

//Layers
$zBase: 1;
$zHeader: 99999;
$zModal: 999999;

//Header
$headerHeightMobile: 54px;
$headerHeightDesk: 68px;
$largeHeaderHeightMobile: 116px; //to header with short menu in mobile
$navJourneyHeightMobile: 70px;
$navJourneyHeightDesk: 92px;

// Container size
$containerMobile: 24px;
$containerTablet: 690px;
$containerLaptop: 960px;
$containerDesk: 1248px;

// Sizes to Press area
$sidebarWidth: 390px;
$bannerProductHeight: 261px;
$bannerProductHeightDesk: 476px;
$pressHeroTextHeightMobile: 220px;
$pressHeroTextHeightDesk: 200px;

// Sizes to Journer Pages
$breadcrumbHeightMobile: 213px;
$breadcrumbHeight: 284px;
$breadcrumbTopMobile: 130px;
$breadcrumbTopTablet: 138px;
$breadcrumbTopDesk: 160px;


// Fonts
$font-primary: 'Poppins', Helvetica, Arial, sans-serif;
$font-tertiary: 'poppinsCond', Helvetica, Arial, sans-serif;

$font-helvetica: $font-primary;
$blue-transparent: linear-gradient($primary 0, transparent 100%);



/******* Secondary Colors *******/
$black-0: #000000;
$black: #121212;
$dark-gray: #43485c;
$middle-gray: #757580;
$light-gray: #a2a1a8;
$white: #ffffff;

/******* Surface Colors *******/
$surface-light-gray: #bcbec0;
$surface-middle-gray: #939598;
$surface-dark-gray: #808285;
$surface-lead-gray: #6d6e71;

/******* Text Colors *******/
$text-black: #191919;
$text-white: #ffffff;
$blog-info: #232323;

/******* Status Colors *******/
$error: #ff000a;
$warning: #ffbe3f;
$validation: #6dc000;
$disable: #d0d0d0;

/******* Effect Styles Colors *******/
$strong-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$soft-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);