@import '../../../css/variables';

.legacy {
	background: $dark-blue;
	color: $white;
	padding-bottom: 50px;

	&__hero {
		height: 274px;
		margin-bottom: 40px;
		position: relative;
		max-width: 1248px;
		width: 100%;
		margin-inline: auto;

		> .legacy__title {
			position: absolute;
			right: 24px;
			bottom: 16px;
			font-size: 18px;
			text-transform: uppercase;
			font-family: $font-helvetica;
			font-weight: 700;
			text-align: right;
			margin: 0;
			padding: 0;

			> .senna-sans {
				font-family: $font-helvetica;
				stroke: 2.3px;
				-webkit-text-stroke: 2.3px;
				color: $white;
				font-size: 40px;
			}
		}

		.legacy__title__container {
			position: absolute;
			right: 24px;
			bottom: 16px;
			text-transform: uppercase;

			.legacy__title {
				font-size: 18px;
				text-transform: uppercase;
				font-family: $font-helvetica;
				font-weight: 700;
				text-align: right;
				margin: 0;
				padding: 0;
			}

			> .senna-sans {
				font-family: $font-helvetica;
				stroke: 2.3px;
				-webkit-text-stroke: 2.3px;
				color: $white;
				font-size: 40px;
			}
		}
	}

	&__content {
		max-width: 842px;

		&__paragraph {
			font-family: $font-helvetica;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;

			strong,
			b {
				font-weight: 500;
			}
		}

		.link {
			margin-top: 52px;

			.button.link {
				font-family: $font-helvetica;
			}
		}
	}

	.link {
		margin-top: 52px;
	}

	@include lg {
		padding: 48px 0;
	}

	@include laptop {
		padding: 96px 0;

		&__hero {
			margin-bottom: 58px;
			height: 390px;
			width: 100%;

			> .legacy__title {
				font-size: 48px;
				right: 40px;

				> .senna-sans {
					font-size: 120px;
					-webkit-text-stroke: 5px;
					line-height: 131px;
				}
			}

			.legacy__title__container {
				right: 40px;

				.legacy__title {
					font-size: 48px;
				}

				> .senna-sans {
					font-size: 120px;
					-webkit-text-stroke: 5px;
					line-height: 131px;
				}
			}
		}

		&__content {
			&__paragraph {
				font-size: 26px;
				line-height: 39px;
				text-align: left;
			}
		}

		.link {
			margin-top: 43px;
		}
	}
}
