@import '../../../css/variables';
@import '../../../css/placeholders';

.gallery-mosaic {
	&.default {
		@extend %galleryMosaicDefault;
	}
}

%galleryMosaicDefault {
	display: block;
	width: 100%;

	.gallery-mosaic {
		&-content {
			position: relative;

			.modal {
				transform: scale(1);
			}
		}
	}

	&.wp-editor {
		@extend %galleryMosaicDefaultEditor;
	}
}

// Common styles to tabs block
[data-type='il/gallery-mosaic'] {
	> .gallery-mosaic > .gallery-mosaic-content {
		> .block-editor-inner-blocks {
			> .block-editor-block-list__layout {
				.block-list-appender {
					top: calc(100vh - $headerHeightMobile - $navJourneyHeightMobile);
					bottom: unset !important;
					opacity: 1 !important;
					pointer-events: all !important;

					.button-remove {
						padding: 15px !important;
					}
				}

				@extend %blockAppenderButton;
			}
		}
	}
}

%galleryMosaicDefaultEditor {
	.carousel.gallery-mosaic > .carousel-content {
		> .block-editor-inner-blocks {
			overflow: auto;
			width: 100%;

			> .block-editor-block-list__layout {
				display: flex;
				gap: 15px;
				width: fit-content;

				[data-type='il/mosaic'] {
					width: 50vw;
					min-width: 1000px;
				}
			}
		}
	}

	.gallery-mosaic-content {
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			.modal.inner {
				position: relative !important;
				opacity: 1;
				transform: scale(1);
				pointer-events: all;
				z-index: 1;
				overscroll-behavior-y: unset;
			}
		}
	}
}
