@import '../../../css/variables';

.news-card-legacy {
	&.default {
		@extend %newsCardLegacyDefault;
	}
}

%newsCardLegacyDefault {
	// Default variant styles;
	background-color: transparent;
	width: 100%;

	&.wp-editor {
		.news__content__texts {
			div[data-type='il/button'] {
				display: block;
				.button {
					width: fit-content;
				}
			}
		}

		.container-image {
			max-width: 554px;
			min-height: 700px;
			width: 40%;

			img {
				height: 100%;
			}
		}

		.block-editor-inner-blocks {
			width: 60%;
			display: flex;
			align-items: flex-end;

			.news__content__texts {
				padding-top: 0;

				> .block-editor-inner-blocks {
					width: 100%;
				}
			}
		}

		@include lg {
			display: flex;
			flex-direction: row-reverse;
			margin-bottom: 40px;
			gap: 40px;
		}
	}

	.container-image {
		display: block;
		margin: 0 auto;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			max-height: 400px;
			min-height: 310px;

			@include lg-small {
				max-height: unset;
				object-position: top center;
				height: 100%;
				width: 100%;
			}
		}

		@include lg-small {
			width: 45%;
			min-width: 368px;
			max-height: unset;
			max-width: 554px;
			margin: unset;
		}
	}

	.news__content__texts {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-end;
		padding: 0 $containerMobile;
		margin-top: 56px;

		.title {
			line-height: 150%;
			margin-bottom: 24px;
		}

		.text {
			line-height: 150%;
		}

		.button.link {
			display: block;
			margin-top: 24px;
			margin-bottom: 5px;
		}

		@include lg-small {
			padding: 0;
			padding-top: 140px;
			max-width: 410px;
			margin-top: 0;
		}

		@include laptop {
			max-width: 522px;
			padding-top: 200px;
		}
	}

	@include lg-small {
		&.tns-item {
			display: flex !important;
			flex-direction: row-reverse;
			justify-content: space-between;
			gap: 30px;
			padding-right: 1px !important;
			padding-left: 1px !important;
		}
	}
}
